/* reset essencial */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C4C4C4;
}

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: #FAFAFA;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 150px;
}

.contact-header img {
    width: 20px;
    height: 20px;
}

.header-social-links {
    display: flex;
    gap: 15px;
}

.header-social-links a {
    cursor: pointer;
}

.contact-header p {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.search-text {
    border: none;
    border-radius: 20px;
}

.header {
    padding: 50px 120px 30px 120px;
    display: flex;
    justify-content: space-between;
    background-color: black;
} 

.account-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.account-menu p {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    cursor: pointer;
}

.logo img {
    width: 130px;
    height: 130px;
}

.logo > div {
    display: flex;
    flex-direction: column;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-header {
    position: relative;
    display: inline-block;
}

.search-header .icon {
    position: absolute;
    right: 10px;  /* distância do canto direito */
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search-header input {
    padding-left: 30px ; /* espaço pro ícone */
    width: 500px;
    height: 50px;
    border: none;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
}

.duvida-nav img {
    width: 25px;
    height: 25px;
}

.login-menu img {
    width: 25px;
    height: 25px;
}

.carrinho-de-compra img {
    width: 25px;
    height: 25px;
}

.account-menu p {
    cursor: pointer;
}

.account-menu img {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.account-menu > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo span {
    font-family: "Karantina", system-ui;
    font-weight: 400;
    color: #F24822;
}

.logo h1, 
.logo p {
    font-family: "Karantina", system-ui;
    font-weight: 400;
    color: #C4C4C4;
}

.logo h1 {
    display: flex;
    font-size: 60px;
}

.logo p {
    font-size: 20px;
    margin-top: -40px;
    margin-left: 20px;
}

.nav-menu {
    background-color: #F24822;
    padding: 10px 60px;
}

.nav-menu ul {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-menu ul li a {
    font-family: "Kreon", serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li a img {
    width: 24px;
    height: 24px;
    flex-shrink: 0; /* impede que redimensionem */
}

.ad-header {
    display: flex;
    margin: 35px 30px 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.ad-header > div {
    display: flex;
    gap: 20px;
}

.ad-header > div p span {
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.ad-header > div p {
    font-family: "Karantina", system-ui;
    font-style: normal;
    font-size: 30px;
    font-weight: 100;
}

.exclusive-grid {
    display: grid;
    grid-template-columns: 510px 280px 280px;
    grid-template-rows: 1fr 1fr;
    margin: 0 30px 0 30px;
    justify-content: center;
    gap: 30px;
}

.destaque {
    grid-row: 1/3;
    background-color: #F24822;
    text-align: center;
}

.destaque h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-shadow: 2px 1px #D9D9D9;
    font-size: 60px;
}

.destaque h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    font-size: 30px;
    text-shadow: 2px 1px black;
    margin-top: -20px;
}

.card {
    border-radius: 6px;
    border: solid 1px;
}

.comum {
    background-color: #3F3F3F;
}

.comum h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F24822;
    text-shadow: 2px 1px black;
    font-size: 20px;
}

.comum h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#FAFAFA;
    text-shadow: 2px 1px black;
    font-size: 16px;
}

.exclusividades > h1 {
    font-family: "Karantina", system-ui;
    font-weight: 700;
    font-style: normal;
    margin-top: 60px;
    text-align: center;
    font-size: 70px;
}

.destaque button {
    font-family: "Karantina", system-ui;
    font-weight: 700;
    font-style: normal;
    width: 376px;
    height: 73px;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    gap: 10px; 
}

.destaque button span {
    margin-left: 10px;
}

.card.destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card.destaque button {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 2px; 
    cursor: pointer;
}

.comum h1,
.comum h2 {
    text-align: right;
    margin-right: 15px;
}

.comum button {
    font-family: "Karantina", system-ui;
    font-weight: 700;
    font-style: normal;
    width: 214px;
    height: 35px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card.comum {
    position: relative;      /* referência pro botão */
    padding-bottom: 80px;    /* reserva espaço pro botão */
}

.card.comum button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* centraliza o botão */
    bottom: 20px;                /* distancia do fundo do card */
}

.destaques h1,
.encomendas h1,
.depoimentos h1 {
    font-family: "Karantina", system-ui;
    font-weight: 700;
    font-style: normal;
    margin: 60px 0 100px 0 0;
    text-align: center;
    font-size: 70px;
}

.card-destaques h1,
.card-encomendas h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.destaques-grid,
.encomendas-grid {
    display: grid;
    grid-template-columns: repeat(3, 394px);
    grid-template-rows: repeat(2, 450px);
    justify-content: center;
    gap: 50px;
}

.card-destaques,
.card-encomendas {
    border-radius: 20px;
    background-color: #FDFDFD;
    border: 2px solid black;
    cursor: pointer;
}

.estrelas {
    display: flex;
    justify-content: center;
}


.card-destaques > img,
.card-encomendas > img {
    display: block;
    margin: 0 auto;
}


.desc-preco {
    font-weight: 500;
    font-style: normal;
}

.desconto-preco {
    font-weight: bold;
}

.preco-final {
    font-size: 25px;
    font-weight: 700;
    color: #F24822;
    margin-top: -10px;
}

.desc-preco {
    margin-top: -15px;
}

.card-destaques h1,
.card-encomendas h1 {
    text-transform: uppercase;
}

.desconto-preco,
.preco-final, 
.desc-preco {
    font-family: "Kanit", sans-serif;
    text-align: center;
} 

.categorias {
    text-align: center;
}

.categorias h1 {
    font-family: "Karantina", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
}

.instrumentos {
    display: flex;
    background-color: #1E1E1E;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 344px;
    gap: 100px;
}

.instrumentos-icon {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: solid 4px #FF2F00;
    padding-top: 15px;
}

.instrumentos-categorias-card p {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: #F24822;
    text-shadow: 2px 2px 0 black;
}

.instrumentos-categorias-card {
    cursor: pointer;
}

.encomendas {
    text-align: center;
}

.depoimentos-grid {
    display: grid;
    grid-template-columns: repeat(3, 410px);
    grid-template-rows: repeat(2, 216px);
    justify-content: center;
    gap: 100px;
}

.conteudo-depoimentos > p {
    font-family: "Kreon", serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.card-depoimentos p {
    font-family: "Kreon", serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 15px 0 15px;
}

.card-depoimentos {
    height: 200px;
    width: 400px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border: solid 2px black;
    border-radius: 10px;
}

.cta-ofertas {
    display: flex;
    gap: 10px;
}

.cta-ofertas img {
    margin-top: 18px;
    height: 75px;
}

.ofertas h1 {
    font-family: "Kreon", serif;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}

.ofertas p {
    font-family: "Kreon", serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: -25px;
    margin-left: 80px;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
    background-color: #FF2F00;
}

.mail input {
    font-family: "Kreon", serif;
    font-weight: 600;
    font-size: 20px;
    width: 434px;
    height: 56px;
    border-radius: 20px;
}

.mail button {
    width: 273px;
    height: 54px;
    background-color: #000000;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Kreon", serif;
    cursor: pointer;
}

.footer-menu {
    display: flex;
    justify-content: center;
    background-color: #000000;
    gap: 100px;
    padding-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
}

footer p {
    font-family: "Kreon", serif;
    font-weight: 600;
    color: #FFFFFF;
}

.institucional ul {
    list-style-type: none;
    font-family: "Kreon", serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: -40px;
}

.atendimento ul {
    font-family: "Kreon", serif;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
    list-style-type: none;
    margin-left: -40px;

}

.institucional h1,
.atendimento h1, 
.redes-sociais h1 {
    font-family: "Kreon", serif;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
}


.logos img {
    width: 41px;
    height: 41px;
    cursor: pointer;
}

#contact-mail {
    cursor: pointer;
}

footer {
    padding-top: 10px;
}











