/* reset essencial */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C4C4C4;
}

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: #FAFAFA;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-header img {
    width: 20px;
    height: 20px;
}

.header-social-links {
    display: flex;
    gap: 15px;
}

.header-social-links a {
    cursor: pointer;
}

.contact-header p {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.logo {
    display: flex;
}

.search-text {
    border: none;
    border-radius: 20px;
}

.search-header {
    position: relative;
    display: inline-block;
}

.search-header .icon {
    position: absolute;
    right: 10px;  /* distância do canto direito */
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.header {
    margin: 50px 120px 0 120px;
    margin-top: 50px;
    display: flex;
    margin-left: 120px;
    justify-content: space-between;
}

.account-menu {
    display: flex;
    gap: 40px;
}

.account-menu p {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    cursor: pointer;
}

.logo img {
    width: 81px;
    height: 81px;
}

.logo > div {
    display: flex;
    flex-direction: column;
}

.search-header input {
    width: 432px;
    height: 32px;
}

.duvida-nav img {
    width: 100px;
    height: 25px;
}

.login-menu img {
    width: 25px;
    height: 25px;
}

.carrinho-de-compra img {
    width: 25px;
    height: 25px;
}






